li {
		list-style:none;
	}
	h1 {
		text-align:center;
	}

	li.done {
		text-decoration: line-through;
	}
	.High {
		color:purple;
	}
	.Medium {
		color:blue;
	}
	.Low{
		color:white;
	}

body {
  background-color: pink;
}	
section.A {
  background-color: plum;
  width: 85%;
  height:300px;
  margin-top: 50px;
  margin-left:100px;
  margin-right:100px;
  position: center;
}
section.B {
  background-color:plum;
  width:85%;
  margin-top:100px;
  margin-left:100px;
  margin-right:100px;
}
