
	p1{ 
	color: red;
	}
	h1{ 
	color: rgb(300,288,90);
	font-family:Lucida Calligraphy;
	}
	p2{ 
	color: green;
	}
	p2#abc{
		text-decoration: line-through;
	}
	p3{ 
	color: blue;
	}
	p3#123{
		text-decoration: line-through;
	}
	p4{
	color: blue;
	}
	p4#000{
		text-decoration: line-through;
	}
	
	

	
