
	td1{ 
	color: red;
	}
	h1{ 
	color: rgb(45,288,90);
	font-family:Lucida Calligraphy;
	}
	td2{ 
	color: green;
	}
	td2#abc{
		text-decoration: line-through;
	}
	td3{ 
	color: blue;
	}
	td3#123{
		text-decoration: line-through;
	}
	td4{
	color: blue;
	}
	td4#000{
		text-decoration: line-through;
	}
	
	

	
